{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.ico' %}">
</head>
<body class="container py-4">

<div class="card p-4">
    <h2>Iniciar sesión</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            Entrar
        </button>
    </form>
</div>

</body>
</html>