# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyc

# ===========================
# Environment / Dependencies
# ===========================
.env
.env.*
venv/
.venv/
*.venv
Pipfile.lock
pip-wheel-metadata/

# ===========================
# Django
# ===========================
*.sqlite3
db.sqlite3
/media/
staticfiles/
generated_docs/
templates_docs/uploads/
*.log

# ===========================
# IDE / Editor
# ===========================
.idea/
.vscode/

# ===========================
# System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Distribution / Packaging
# ===========================
dist/
build/
*.egg-info/
pip-wheel-metadata/

# ===========================
# Generated / Backup Files
# ===========================
backup_media_*/
*.docx
*.tmp
media/
generated_docs/

# ===========================
# Local JSON Data
# ===========================
firequote/all_data.json
firequote/quotes_data.json
